:root {
  --sys-primary: #002d72;
}

/* Fonts */

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Regular.woff2') format('woff2'),
        url('WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('WorkSans-Bold.woff2') format('woff2'),
        url('WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
  font-family: 'Work Sans', sans-serif !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

jh-header-container {
  background-color: #002d72;
}

.custom-search-bar-container {
  background-color: #002d72;
}

.jh-header-container a {
  color: #ffff;
  text-decoration: none;
}

.jh-image {
  display: inline;
  float: left;
  margin: 1em;
  margin-top: 1.25em;
}

/* Desktop header links */
.jh-header-menu ul {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

/* Tablet header links */
@media (max-width: 768px) {
  .jh-header-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
}

/* Mobile header links */
@media (max-width: 480px) {
  .jh-header-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
}

nde-logo {
  margin: 1em;
  padding-right: 1em;
}

nde-user-area {
  margin: 1em;
}

main h2 {
  display: none;
}

.top-bar-background-image {
  background-image: none !important;
  background-color: #002d72;
}

.background-overlay {
  background-color: #002d72 !important;
}

/* Hide the title level request UI -- we only use item level request buttons */
#nde\.request\.title {
  display: none;
}
